.teams {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  min-height: 438px;
  overflow: hidden;
  padding: 40px 0;
  width: 100%;
}

.teams__title {
  padding: 28px 0;
  text-align: center;
}

.teams__h2 {
  color: #212121;
  font-family: 'Prata', serif !important;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.teams__titleBar {
  display: block;
  bottom: 12px;
  height: 4px;
  position: absolute;
  right: 50%;
  transform: translate(50%, 25px);
  width: 32px ;
}